/* Setting standards */

* {
    margin: 0;
}

body {
    width: 100vw;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Login page */

main h1 {
    text-align: center;
    margin-top: 80px;
}

main form {
    align-items: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

main form select {
    max-width: 80px;
    margin-top: 20px;
}

main form button {
    margin-top: 20px;
}

/* Header */

header figure img {
    max-width: 25vw;
    border-radius: 50%;
}

header figure figcaption {
    color: white;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 0 25px 0;
    background-color: rgba(255, 97, 167, 0.8);
}

body header > form {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Main */

main > ul li figure img{
    max-width: 10vw;
}

main > ul li figure figcaption {
    margin-top: 10px;
}

main > ul li figure {
    text-align: center;
}

main > ul li {
    border-bottom: 1px solid #ff61a7;
}

main > ul {
    display:flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

main > div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

main > div ul li img {
    max-width: 10vw;
    border-radius: 50%;
}

main > div ul li {
    display: flex;
    margin-top: 10px;
    align-items: center;
    border-bottom: 1px solid #ff61a7;
    padding-bottom: 5px;
    justify-content: space-between;
}

.liked {
    width: 2em;
    border-radius: 0;
}

/* margins for profile pictures on likes and visitors page */
.likes main > div ul li img {
    margin-left: 20px;
}

.visitors main > div ul li img {
    margin-right: 20px;
}

/* footer navigatie */

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top: 1px solid rgba(0, 0, 0, .5);
    background-color: #ffd2ac;
}

nav ul {
    display: flex;
}

nav ul a li {
    width: 33vw;
    height: 10vh;
    text-align: center;
}

nav ul a li img {
    max-width: 10vw;
    max-height: 11vw;
    margin-top: 2.5vh;
}